.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 71);


}


.box {
    height: 60%;
    width: 30%;
    background-color: white;
}

.input {
    width: 60%;
    height: 40px;
    margin-left: 18%;

}

@mixin button ($primary, $secondary) {
    width: 61%;
    height: 30px;
    margin-left: 18%;
    background-color: $primary;
    border-radius: 12px;

    &:hover{
        background-color: 
        $secondary;
    }
}

.button-one {
    @include button(skyblue,#FF9EAA);
    color:black;
}

.button-two {
    @include button(#8E3E63, #D2649A);
    color: black;
}

.button-child {
    @extend .button-one;
    border: 15px black;
    
}